html {
    font-family: 'Open Sans', sans-serif;
    /* Conteúdo */
    /* font-family: 'Raleway', sans-serif;  Títulos - Chamadas de ação - Navegação */
    font-size: 62.5%;
    box-sizing: border-box;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx header xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.4rem;
}

.logo {
    width: 8rem;
}

header nav a {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #000;
    padding: 0 0 0 2.4rem;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx section 01 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.container-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.4rem 3rem 0;
}

.img-01 {
    width: 80.5vw;
    max-width: 100vw;
}

.presentation {
    text-align: center;
    margin: 4rem 0 0;
}

.presentation h1 {
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 700;
}

.presentation p {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    padding: 2.4rem .6rem 3.2rem;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-email {
    width: 70vw;
    height: 4rem;
    border: 1px solid black;
    border-radius: .25rem;
    padding: 0 2.2rem;
}

#btn-submit {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    width: 82vw;
    height: 4rem;
    background-color: hsl(224, 93%, 58%);
    border: none;
    border-radius: .25rem;
    margin: 1.5rem 0 0;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx section 02 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.backgroung-curve-mobile {
    display: block;
    margin: 9rem 0 0;
}

.background-curve-desktop {
    display: none;
}

.container-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(240, 75%, 98%);
    padding: 4rem 2rem 8.2rem;
}

.img-02 {
    width: 85vw;
    max-width: 100vw;
    padding: 0 0 9.2rem 1rem;
}

.advertising h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0 0 1.4rem 0;
}

.advertising p {
    font-size: 1.4rem;
    line-height: 1.5;
    opacity: .5;
    padding: 1.5rem 0 0;
}

.advertising a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    padding: 3.6rem 0 0 0;
}

.arrow {
    padding: 0 0 0 0.6rem;
}

hr {
    width: 34vw;
    border: .5px solid hsl(170, 45%, 43%);
    margin: 0.5rem auto 3.8rem;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx testimonial xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.testimonial {
    background-image: url(../../assets/images/icon-quotes.svg);
    background-repeat: no-repeat;
    background-size: 1.1rem;
    background-position: 2.6rem 2.3rem;
    background-color: hsl(0, 0%, 100%);
    max-width: 65vw;
    border-radius: .25rem;
    box-shadow: 0 0 .5rem .25rem rgb(222, 222, 222);
    padding: 4.2rem 2.6rem 2rem;
    margin: 0 auto;
}

.testimonial p {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    opacity: .5;
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.6rem 0 0;
}

.name-position {
    display: flex;
    flex-direction: column;
}

.name-position h1 {
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: .3rem;
}

.name-position p {
    font-size: .7rem;
    font-weight: 400;
}

.picture {
    border-radius: 50%;
    overflow: hidden;
    width: 2.6rem;
    max-width: 100%;
    display: block;
    margin-right: 1rem;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx section 03 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.container-03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(238, 22%, 44%);
    padding: 6rem 3.5rem 7rem;
}

.call-to-sale {
    text-align: center;
}

.call-to-sale h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    margin: 0 0 2.6rem 0;
}

.call-to-sale p {
    font-size: 1.4rem;
    line-height: 1.45;
    color: #fff;
    margin: 0 2rem 2.5rem 0;
}

.call-to-action-free {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-email-2 {
    width: 52.4vw;
    height: 3.2rem;
    font-size: 1rem;
    border: none;
    border-radius: .25rem;
    padding: 0 2.2rem;
    margin: 0 0 0.8rem;
}

#btn-submit-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    width: 64vw;
    height: 3.2rem;
    background-color: hsl(224, 93%, 58%);
    border: none;
    border-radius: .25rem;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

footer {
    background-color: hwb(243 2% 78%);
    padding: 4rem 4rem 1.6rem 4.8rem;
}

.logo-footer {
    width: 17.6rem;
    padding: 2.5rem 0 4.2rem;
}

.phone,
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    padding: 0 0 2.3rem 0;
}

.icon-phone,
.icon-email {
    width: 1.8rem;
    padding: 0 2rem 0 0;
}

.about,
.rules {
    display: flex;
    flex-direction: column;
}

.about {
    padding: 4.2rem 0 0;
}

.rules {
    padding: 2.6rem 0;
}

footer nav a {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    padding: 0 0 2.6rem 0;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media {
    width: 2.5rem;
    padding: .2rem 1rem 0;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx media query xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media only screen and (min-width: 1400px) {

    header {
        margin: 6.5rem 8rem 8.5rem;
    }

    .logo {
        width: 16.6rem;
    }

    header nav a {
        font-size: 1.6rem;
        padding: 0 0 0 5.6rem;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx section 01 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .container-01 {
        flex-direction: row-reverse;
        align-items: flex-start;
        padding: 0 8rem;
    }

    .img-01 {
        width: 44.1vw;
        max-width: 50vw;
    }

    .col-01 {
        max-width: 50vw;

    }

    .presentation {
        text-align: left;
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    .presentation h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 4.2rem;
        line-height: 1.4;
        padding: 7.6rem 0 0;
        margin: 0;
    }

    .presentation p {
        font-size: 1.8rem;
        line-height: 1.3;
        padding: 1.8rem 6rem 2.8rem 0;
        margin: 0;
    }

    .call-to-action {
        flex-direction: row;
    }

    #input-email {
        width: 22vw;
        height: 4.2rem;
        padding: 0 2rem;
        margin: 0 1.6rem 0 0;
    }

    #btn-submit {
        width: 14vw;
        height: 4.4rem;
        margin: 0;
        padding: 0;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx section 02 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .backgroung-curve-mobile {
        display: none;
    }

    .background-curve-desktop {
        margin: 16.8rem 0 0;
        display: block;
    }

    .container-02 {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
        padding: 6.6rem 8rem 10.8rem;
    }

    .img-02 {
        width: 37.5vw;
        padding: 2rem 0;

    }

    .col-01-row-02 {
        width: 46vw;
    }

    .advertising {
        margin: 0;
    }

    .advertising h1 {
        font-size: 4.06rem;
        text-align: start;
        margin: 0 0 4rem;
    }

    .advertising p {
        font-size: 1.6rem;
        padding: 0 14rem 1.75rem 0;
    }

    .advertising a {
        font-size: 1.8rem;
        justify-content: start;
        padding: 0;
    }

    hr {
        width: 13vw;
        border: 1px solid hsl(170, 45%, 43%);
        margin: .6rem 0 0 0;

    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx testimonial xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .testimonial {
        box-sizing: border-box;
        max-width: 24.86vw;
        background-size: 1.8rem;
        background-position: 3rem 2.5rem;
        margin: 4.4rem 0 0;
        padding: 5.2rem 3rem 2.6rem;
    }

    .testimonial p {
        font-size: 1.4rem;
    }

    .avatar {
        padding: 2rem 0 0 0;
    }

    .picture {
        width: 3.2rem;
    }

    .name-position h1 {
        font-size: 1.2rem;
    }

    .name-position p {
        font-size: .6rem;
        padding: 0.2rem 0 0 0;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx section 03 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .container-03 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10.8rem 12rem 8.2rem 8rem;
    }

    .call-to-sale {
        text-align: start;
        width: 51.6rem;
        max-width: 50vw;
    }

    .call-to-sale h1 {
        font-size: 3.2rem;
        padding: 0 0 1.2rem;
    }


    .call-to-sale p {
        font-size: 1.64rem;
        padding: 1.2rem 0 0 0;
    }

    .call-to-action-free {
        flex-direction: column;
        width: 48rem;
    }

    #input-email-2 {
        font-size: 1.2rem;
        width: 43.6rem;
        margin: 0;
        padding: .9rem 2.2rem;
        margin: .4rem 0 1.6rem;
    }

    #btn-submit-2 {
        font-size: 1.4rem;
        font-weight: 700;
        width: 20rem;
        height: 4.8rem;
        padding: 0;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    footer {
        padding: 11rem 0 5.125rem 7.6rem;
    }

    .logo-footer {
        width: 17.6rem;
        padding: 0 0 1.6rem;
    }

    .container-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 77.08vw;
    }

    .contact,
    .about,
    .rules {
        padding: 0;
    }

    .phone p,
    .email p {
        font-size: 1.6rem;
        padding: 1.15rem 0 1.15rem 2rem;
    }

    .icon-phone,
    .icon-email {
        width: 1.8rem;
        padding: 0;
    }

    footer nav a {
        font-size: 1.6rem;
        line-height: normal;
        padding: 1rem 0 1rem 0;

    }

    .media {
        gap: 1.2rem;
    }

    .social-media {
        width: 3rem;
        padding: 0;
    }
}